/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Source+Sans+Pro&display=swap');

.footer {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align:center;
}

.footer p{
  margin:0;

}

.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner .container-middle {
  /*position: relative;*/
  padding-top: 30vh;
}

.banner .container {
  /*position: absolute;
  top: 40%;*/
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner .profile-picture img {
  height: 30vh;
  border-radius: 10px;
}

.banner .profile-content img {
  height: 40px;
}

.banner .social-media i {
  font-size: 40px;
  padding: 0px 10px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
