/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&family=Source+Sans+Pro&display=swap');

body {
  background-color: #CCE3DE;
  font-family: "Source Sans Pro";
  color: #434A42;
  font-size: 16px;
  line-height: 1.6em;
}

h1 {
  font-family: "Raleway";
  font-weight: 500;
  line-height: 1.6em;
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #434A42;
}

a:hover {
  color: red;
  opacity: 0.6;
}

img {
  height: auto;
  width: 240px;
  border-radius: 5%;
}

.container {
  width: 80%;
  max-width: 960px;
  text-align: center;
  margin: 0 auto;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.6);
  margin: 20px;
  padding: 10px;
}

.inline-block {
  display: inline-block;
}

.width-33 {
  width: 33%;
}
